doctype html
html
  head
    title Shur
    link(rel='stylesheet', href='libs/bootstrap-3.3.7/css/bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href='css/main.css', type='text/css')
  body
  
    .container
        
      header
        h1 Shur
        
      h2 Create a new short URL
      
      .new
        code
          a(href=app_url+'new/http://www.twitch.tv' target='_blank') 
            |#{app_url}new/http://www.twitch.tv
          
        p If you want to pass a site that doesn't exist (or an invalid url) for some reason:
        code
          a(href=app_url+'new/invalid?allow=true' target='_blank') 
           |#{app_url}new/invalid?allow=true
        
      h3 Output
      code
        | { "original_url": "http://www.twitch.tv",
        | "short_url": "#{app_url}#{example_id}" }
        
      p.use Now 
        code
          a(href=app_url+example_id target='_blank') #{app_url}#{example_id}
        |  redirects to 
        code
          a(href='http://www.twitch.tv' target='_blank') http://www.twitch.tv
        |.

      p 
        code
          a(href='http://www.twitch.tv' target='_blank') twitch.tv
        |, 
        code
          a(href='http://www.twitch.tv' target='_blank') www.twitch.tv
        |, and 
        code
          a(href='http://www.twitch.tv' target='_blank') http://www.twitch.tv
        |  all point to the same id 
        code #{example_id}
        |.